---
const { title, description, link } = Astro.props;
---

<div
  class="p-6 rounded-xl relative overflow-hidden bg-white shadow-xl max-w-sm h-full flex flex-col min-h-auto"
>
  <div
    class="absolute inset-0 rounded-xl pointer-events-none"
    style="
            background: linear-gradient(to right bottom, #f3e8ff, #7fbbd9, #ada7ff, #8b8fff); 
            padding: 2px; /* Simula el ancho del borde */
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: exclude;
        "
  >
  </div>

  <div class="relative z-10 flex flex-col h-full">
    <div class="flex items-center space-x-4 mb-4">
      <div class="w-10 h-10 rounded-full border-2 border-blue-400 opacity-60">
      </div>

      <div class="shrink-0">
        <!--icono aqui -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-package"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12l0 9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M16 5.25l-8 4.5"></path></svg
        >
      </div>
    </div>

    <h2 class="text-xl font-semibold mb-3 text-blue-700">
      {`${title}`}
    </h2>

    <p class="text-sm text-gray-600">
      <span class="font-bold">Descripción:</span>
      {`${description}`}
    </p>
  </div>
</div>

<!--<div
  class="h-64 w-96 p-6 md:mb-8 mb-2 rounded-lg shadow-sm bg-white border-2 border-primary hover:border-secondary hover:scale-105 transition-all duration-300 flex flex-col"
>
  <div class="flex flex-col items-center gap-6 mb-4">
    <img src="/images/hero-image.webp" alt="" width="10" height="10" />
    <h5 class="text-sm md:text-md font-bold tracking-tight text-primary">
      {`${title}`}
    </h5>
    
  </div>
  <p class="font-normal text-gray-500 tracking-tight text-xs">
    {`${description}`}
  </p>
</div>

  <<a
    href={`${link}`}
    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-secondary rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300"
  >
    Ver más
    <svg
      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </a>-->
